
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ITMarket{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datapicker3.min.css') }}">
        {% endblock %}
        <script>
            $(function () {

                $('.toggle').click(function (event) {
                    event.preventDefault();
                    var target = $(this).attr('href');
                    $(target).toggleClass('hidden show');
                });

            });
        </script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success text-center">
            {% for msg in app.session.flashBag.get('success') %}
               <h4> {{ msg }} </h4>
            {% endfor %}
        </div>
    {% endif %}

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('offer_index') }}">
                                ITMarket
                            </a>


                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">

                                {% block header_navigation_links %}
                                    <li>
                                        <li class="active"><a href="/" > Home</a></li>

                                        <li><a href=""></a> </li>

                                        {% if not app.user %}
                                        <li><a href="/register">Register</a></li> 
                                        <li><a href="/login">Login</a></li>
                                    {%  endif %}


                                    </li>



                                    {% if app.user  %}
                                        <li>
                                            <a href="{{ path('panel_offer_index') }}">
                                                <i class="">Panel</i>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endblock %}

                                {% if app.user %}
                                    <li>
                                        <a href="{{ path('security_logout') }}">
                                            <i class="">Logout</i>
                                        </a>
                                    </li>
                                {% endif %}


                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block top %}
            {% endblock %}

            {% block body %}
                <div class="row">
                    <div id="main" class="col-lg-9">

                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-lg-3">
                        {% block sidebar %}

                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-lg-12">
                            <p>&copy;ITMarket {{ 'now'|date('Y') }} </p>

                        </div>

                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script type="text/javascript" >
                $(function () {
                    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
                    $('.tree li.parent_li > span').on('click', function (e) {
                        var children = $(this).parent('li.parent_li').find(' > ul > li');
                        if (children.is(":visible")) {
                            children.hide('fast');
                            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                        } else {
                            children.show('fast');
                            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                        }
                        e.stopPropagation();
                    });
                });
            </script>

            <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
         {#   <script src="{{ asset('js/app.js') }}"></script>#}
        {% endblock %}
    </body>
</html>
