{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Odpowiedzi na twoje oferty</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Oferta</th>
                <th>Odpowiedz</th>
                <th>Użytkownik</th>
                <th>Offerauthor</th>
                <th>Data</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               {# <td><a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td></td>

                <td>{{ entity.content }}</td>
                <td>{{ entity.authorEmail }}</td>
                <td>{{ entity.offerAuthor }}</td>
                <td>{% if entity.publishedAt %}{{ entity.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
