{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_comment_new' %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong> {{ comment.authorEmail }}</strong> <span class="text-muted">  {{ comment.publishedAt|date('Y-m-s') }}</span>
                </div>
                <div class="panel-body">
                    {{ comment.content }}
                </div><!-- /panel-body -->
            </div>
        </div>
    </div>
    <h1>Replay</h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form(form) }}
    {{ form_start(form) }}
    {{ form_errors(form) }}


    <input type="submit" value="Create post" class="btn btn-primary" />

    {# {{ form_widget(form.save, { label: 'Create offer', attr: { class: 'btn btn-primary' } }) }}#}

    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}

{% endblock %}
