{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Comment</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Authoremail</th>
                <td>{{ entity.authorEmail }}</td>
            </tr>
            <tr>
                <th>Offerauthor</th>
                <td>{{ entity.offerAuthor }}</td>
            </tr>
            <tr>
                <th>Publishedat</th>
                <td>{{ entity.publishedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
