
{% extends 'base.html.twig' %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('panel_offer_index') }}">
            <i class="">Posty</i>
        </a>
    </li>
    <li>
        <a href="{{ path('offer_index') }}">
            <i class="">Powrót do ITMarketu</i>
        </a>
    </li>
{% endblock %}
