<nav class="navbar navbar-default navbar-static-top">
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% set route = app.request.attributes.get('_route') %}

            <li {% if  route  == 'panel_index' %} class="active" {% endif %}> <a href="{{ path('panel_offer_index') }}"> Home </a> </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li {% if route == 'panel_category_index' %} class="active" {% endif %}> <a href="{{ path('panel_category_index') }}"> Categories </a> </li>
            <li {% if route == 'panel_users_index' %} class="active" {% endif %}> <a href="{{ path('panel_user_index') }}"> User </a> </li>
            {% endif %}
        </ul>
    </div>
</nav>
