{% extends 'base.html.twig' %}

{% block body_id 'offer_index' %}

{% block main %}

    <div class="row">
        <div class="col-md-3 ">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-primary">Kategoria</div>
            </div>

            <div class="panel panel-default">
                <div class="navbar navbar-default navbar-static-top ">

                    <ul class="nav navbar-nav">


                        {% for category in categories %}
                            <li>
                                <a href="{{ path('category_offer_show' , { id: category.id }) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div><!--/.nav-collapse -->
            {# {% for category in categories %}

             {% endfor %}#}
        </div>
        <div class="col-md-9 panel panel-default">
            <div class="table-responsive">
                <table class="table">
                   {# <tr class="info">
                        <th{% if pagination.isSorted('a.Tytuł') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Tytuł', 'a.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Kategoria', 'a.id') }}</th>

                        <th>{{ knp_pagination_sortable(pagination, 'Stawka', 'a.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Opublikowany', 'a.datetime') }}</th>
                    </tr>#}

                    {% for article in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>

                            <td><a href="{{ path('offer_post', { id: article.id }) }}"> {{ article.title }} </a></td>
                            <td>{{ article.category }}</td>
                            <td>{{ article.price }}</td>
                          {#  <td>{{ article.content | length > 50 ?  article.content |slice(0, 50) ~ '...' :  article.content }}</td>#}
                            <td>{{ article.publishedAt|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
    <div class="row">
        {# display navigation #}
        <div class="col-lg-5 col-centered"></div>
        <div class="pagination ">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>



    {#{% for post in posts %}
        <article class="post">
            <h2>
             {  <a href="{{ path('offer_post', { slug: post.slug }) }}">
                    {{ post.title }}
                </a>
            </h2>

            {{ post.content }}
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}#}


{% endblock %}

{% block sidebar %}
    <p>FILTRY wkrótce</p>
{% endblock %}