{% for entity in entities %}

    {% if entity.parent == null %}
    <li class="parent_li">
       <span class="fa fa-level-down"> </span> <a  href="">{{ entity.getName() }}</a>
    {% if entity.children %}
        <ul>
            {% include "offers/category-tree.html.twig" with {'entities' : entity.children}  %}
        </ul>
    {% endif %}
    </li>
        {% endif %}
 


{% endfor %}