{% extends 'base.html.twig' %}

{% block body_id 'offer_index' %}

{% block main %}

    <div class="row">
        <div class="col-md-8">

            <div class="navbar navbar-default navbar-static-top">
                <ul class="nav navbar-nav">
                    <h3 class="fa">Kategorie</h3>

                    {% for category in categories %}
                        <li><a href="{{ path('category_offer_show' , { id: category.id }) }}">{{ category.name }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

{% endblock %}