{% for entity in entities %}


    <li class="parent_li">
        <span class="fa fa-level-down"> </span>  <a  href="">{{ entity.getName() }}</a>
    {% if entity.children %}
        <ul class="">
            {% include "offers/category-tree.html.twig" with {'entities' : entity.children}  %}
        </ul>
    {% endif %}
    </li>


{% endfor %}