{% extends 'base.html.twig' %}

{% block body_id 'offer_index' %}

{% block top %}
    <div class="panel panel-default">
        <div class="input-group">
            {{ form_start(search_form) }}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> {{ form_widget(search_form.submit, {'attr': {'class': 'form-control'}}) }}</span>

                {{ form_widget(search_form.search, {'attr': {'class': 'form-control', 'placeholder':'Szukaj'}}) }}
            </div>
            {{ form_end(search_form) }}
        </div>
    </div>
{% endblock %}

{% block main %}



    <div class="row">
        <div class="panel panel-default bg-dark">
            <div class="table-responsive ">
                <table class="table">
                    <tr class="bg-primary">
                        <th>Tytuł</th>
                        <th>Kategoria</th>

                        <th>Stawka</th>
                        <th>Opublikowany</th>
                        <th>Ważny do</th>
                    </tr>

                    {% for article in pagination %}
                        <tr {% if loop.index is odd %}class="odd" {% else %}class="even" {% endif %}>

                            <td>
                                <a href="{{ path('offer_post', { id: article.id }) }}"  class="btn btn-primary"> {{ article.title  | length > 20 ?  article.title |slice(0, 20) ~ '...' :  article.title }} </a>
                            </td>
                            {% if article.category is empty or article.category is null or article.category is not defined  %}

                            {% else %}
                               <td> <a href="{{ path('category_offer_show', { id: article.category.id }) }}"  class="btn btn-info">  {{ article.category }} </a></td>
                            {% endif %}

                            <td>{{ article.price > 0 ? article.price : '0 zł' }}</td>
                            {#<td>{{ article.content | length > 50 ?  article.content |slice(0, 50) ~ '...' :  article.content  }}</td>#}
                            <td>{{ article.publishedAt|date('Y-m-d') }}</td>
                            <td>{{ article.toDate|date('Y-m-d') }}</td>
                        </tr>

                    {% else %}
                        <tr>
                          <td>  {{ 'Brak ofert' }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
          {#  <div class="col-lg-5 col-lg-offset-4">
            <div class=" pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
            </div>
        </div>#}

    </div>


    {#{% for post in posts %}
        <article class="post">
            <h2>
             {  <a href="{{ path('offer_post', { slug: post.slug }) }}">
                    {{ post.title }}
                </a>
            </h2>

            {{ post.content }}
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}#}


{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') and app.request.attributes.get('_route')== path('offer_index') %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('panel_offer_new') }}">
                <i class="">Dodaj oferte</i>
            </a>
        </div>
        <div>
        <h3 class="text-center text-primary bg-primary">Witaj {{ app.security.getToken().getUser().getUsername() }}</h3>

        <ul class="list-group ">
            <li class="list-group-item  bg-primary"><p>Dodałeś oferty <span class="badge">{{ countoffer }}</span></p></li>

            <li class="list-group-item"><p>Odpowiedzi <span class="badge">{{ sumreplay }}</span></p></li>
        </ul>
    {% endif %}
    <!-- Default panel contents -->
    <div class="btn btn-lg btn-block btn-success text-center "><h3>Kategorie</h3></div>


    <div class="panel panel-default">
        <div class="navbar navbar-default navbar-static-top ">

            <ul class="nav navbar-nav">
                {#{% for category in categories %}
                {% if category.trushcollector == 0 %}
                    <li>
                        <a href="{{ path('category_offer_show' , { id: category.id }) }}">{{ category.name }}</a>
                    </li>
                {% endif %}
                {% endfor %}#}
            </ul>
        </div>
    </div><!--/.nav-collapse -->
    {# {% for category in categories %}

     {% endfor %}#}

    </div>
        {% endblock %}
