{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <div class="row">


            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3">
                          <h3> {{ offer.type }}</h3>
                        </div>
                        <div class="col-md-8 ">
                             <h3> {{ offer.title }}</h3>
                        </div>
                    </div>



                </div>


               <div class="panel-body">
                   <ul class="list-group">
                       <li class="list-group-item ">Cena Brutto :  {{ offer.price }}</li>
                       <li class="list-group-item">Data utworzenia : {{ offer.publishedAt|date('Y-m-d') }}</li>
                       <li class="list-group-item">Aktualne do  : {{ offer.toDate|date('Y-m-d') }}</li>
                       <li class="list-group-item"> {{ offer.content  | raw }} </li>
                  </ul>



               </div>
                <div class="panel-footer">


                    <i class="fa fa-envelope">   {{ offer.authorEmail }}</i>


                </div>


        </div>
    </div>


    <div id="post-add-comment" ></div>

<div class="panel panel-default">



    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %} {#  and  app.security.getToken().getUser().getEmail() != offer.authorEmail %}#}
        <div class="well">{#
    {{ form(form_comment) }}#}
            <h3 class="text-center">Napisz odpowiedź</h3>
            {{ form_start(form_comment) }}
            <div class="form-group">
                <label class="col-sm-1 control-label">Treść</label>
                <div class="col-sm-11">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-list"></i> </span>
                        {{ form_widget(form_comment.content, {'attr': {'class': 'form-control', 'placeholder':'Treść'}}) }}

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">File</label>
                <div class="col-sm-11">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-file-o"></i></span>
                        {{ form_widget(form_comment.file , {'attr': {'class': 'btn btn-default btn-file', 'placeholder':'Treść','title':' '}}) }}

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">

                 {{ form_widget(form_comment.submit , {'attr': {'class': 'btn btn-primary' }}) }}
                </div>
            </div>
            {{ form_end(form_comment) }}

        </div>
       {% else %}
        <div class="panel panel-primary">
            <h4 class="fa fa-commenting">Zarejestruj się by złożyć oferte </h4>
        </div>
    {% endif %}
    </div>

{% endblock %}

{% block sidebar %}
    {% if app.user and offer.isAuthor(app.user) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('panel_offer_edit', { id: offer.id }) }}">
                <i class="fa fa-edit"></i> Edytuj
            </a>
        </div>
    {% endif %}

    <div class="well">

           <h5>Masz {{ offer.sendedReplay }} odpowiedzi</h5>



    </div>


{% endblock %}
