{% extends 'admin/layout.html.twig' %}
{% block body -%}

    <div class="col-lg-8 col-lg-offset-2">
    <div class="well">
    <h1 class="text-center">Edycja kategorii</h1>

    {{ form_start(edit_form , {'attr' : { 'class' : 'form-horizontal'}}) }}
    {{ form_errors(edit_form) }}

    <div class="form-group">
        <label class="col-sm-2 control-label">Kategoria</label>
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-list"></i> </span>
                {{ form_widget(edit_form.name , {'attr': {'class': 'form-control'}}) }}

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 centered">
            <a  href="{{ path('panel_category_index') }}" class="btn btn-success" role="button" ><span><i class="fa fa-backward"></i>
   </span> Cofnij sie do listy ofert</a>
            {{ form_widget(edit_form.submit , {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(edit_form) }}
            {{ form_start( delete_form, {'attr' : { 'class' : 'form-horizontal'}}) }}

            {{ form_widget( delete_form.submit , {'attr': {'class': 'btn btn-primary'}}) }}
            {{  form_end(  delete_form) }}
        </div>
    </div>

    </div>
    </div>
{% endblock %}