{% extends 'admin/layout.html.twig' %}

{% block body_id 'panel_category_index' %}



{% block main %}


    {{ include('admin/navbar.html.twig') }}




    <h1>Lista kategorii</h1>

<div class="table-responsive">
                  <table class="table">

                      <tr class="bg-primary">
                          <th>Name</th>
                          <th> Actions</th>
                      </tr>

                      {% for category in categories %}
                          {% if category.trushcollector == 0 %}
                          <tr {% if loop.index is odd %}class="odd" {% else %}class="even" {% endif %}>
                              <td > {{ category.name }} </td>
                              <td>
                                  <div class="item-actions">
                                      <ul class="list-inline">
                                          <li><a href="{{ path('panel_category_show', { id: category.id}) }}"
                                                 class="btn btn-sm btn-default">
                                                  Show
                                              </a></li>

                                          {# {% if offer.isAuthor(app.user) %}#}
                                          <li><a href="{{ path('panel_category_edit', { id:  category.id }) }}"
                                                 class="btn btn-sm btn-primary">
                                                  <i class="fa "></i> Edit
                                              </a></li>
                                      </ul>

                                  </div>
                              </td>
                          </tr>
                              {% endif %}
                      {% else %}
                          <tr>
                              <td colspan="4" align="center">brak postów</td>
                          </tr>
                      {% endfor %}

                  </table>
              </div>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('panel_category_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa">Dodaj Kategorie</i>
        </a>
    </div>
    <div class="section actions">
        <a href="{{ path('panel_messages') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa">Wyślij spam</i>
        </a>
    </div>
{% endblock %}