{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_offer_new' %}

{% block main %}
    <h1>Nowy post</h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a class="btn btn-success" role="button"  href="{{ path('panel_user') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}

{% endblock %}
