{% extends 'admin/layout.html.twig' %}

{% block body_id 'panel_offer_index' %}



{% block main %}

    {{ include('admin/navbar.html.twig') }}


    <h1>Lista ofert</h1>

<div class="table-responsive ">
    <table class="table">

        <tr class="bg-primary">
            <th>Title</th>
            <td>Category</td>
            <th>User</th>
            <th> Actions</th>
        </tr>

        {% for offer in offers %}
            <tr {% if loop.index is odd %}class="odd" {% else %}class="even" {% endif %}>
                <td >{{ offer.title }}</td>
                <td >{{ offer.category }}</td>
                <td >{{ offer.authorEmail }}</td>

                <td>
                    <div class="item-actions">
                        <ul class="list-inline">
                            <li><a href="{{ path('panel_offer_show', { id: offer.id }) }}"
                                   class="btn btn-sm btn-default">
                                    Show
                                </a></li>

                            {# {% if offer.isAuthor(app.user) %}#}
                            <li><a href="{{ path('panel_offer_edit', { id: offer.id }) }}"
                                   class="btn btn-sm btn-primary">
                                    <i class="fa "></i> Edit
                            </a></li>
                        </ul>

                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">brak postów</td>
            </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('panel_offer_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa">Dodaj oferte</i>
        </a>
    </div>
    <div class="section actions">
        <a href="{{ path('panel_messages') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa">Wyślij spam</i>
        </a>
    </div>
{% endblock %}
