{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_offer_new' %}

{% block main %}

    <div class="well">
    <h1 class="text-center">Nowa oferta</h1>

    {{ form_start(form , {'attr' : { 'class' : 'form-horizontal'}}) }}
    {{ form_errors(form) }}

        <div class="form-group">
            <label class="col-sm-2 control-label">Typ</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-list"></i> </span>
                    {{ form_widget(form.type , {'attr': {'class': 'form-control', 'placeholder':'Kategoria'}}) }}

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Tytuł</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i> </span>
                    {{ form_widget(form.title , {'attr': {'class': 'form-control', 'placeholder':'Tytuł'}}) }}

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Opis</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil-square-o"></i> </span>
                    {{ form_widget(form.content , {'attr': {'class': 'form-control', 'placeholder':'Opis'}}) }}

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Kategoria</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-list"></i> </span>
                    {{ form_widget(form.category , {'attr': {'class': 'form-control', 'placeholder':'Kategoria'}}) }}

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Stawka</label>
            <div class="col-sm-10">
                <div class="input-group">
                    {{ form_widget(form.price , {'attr': {'class': 'form-control', 'placeholder':'Stawka'}}) }}

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o"></i> </span>
                    {{ form_widget(form.authorEmail , {'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Ważne do </label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar-check-o"></i> </span>
                    {{ form_widget(form.toDate , {'attr': {'class': 'datepicker', 'placeholder':'To date' ,'endDate':'-3d','clearBtn':'true',}}) }}

                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-10 centered">
                <a  href="{{ path('panel_offer_index') }}" class="btn btn-success" role="button" ><span><i class="fa fa-backward"></i>
   </span> Cofnij sie do listy ofert</a>
                {{ form_widget(form.Dodaj , {'attr': {'class': 'btn btn-primary', 'placeholder':'Ważne do' }}) }}

            </div>
        </div>

        {# {{ form_widget(form.save, { label: 'Create offer', attr: { class: 'btn btn-primary' } }) }}#}

    {{ form_end(form) }}
    </div>
{% endblock %}

{% block sidebar %}

{% endblock %}
