{% extends 'admin/layout.html.twig' %}

{% block body_id 'panel_offer_show' %}

{% block main %}

    <div class="panel panel-primary">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3">
                    <h3> {{ offer.type }}</h3>
                </div>
                <div class="col-md-8 ">
                    <h3> {{ offer.title }}</h3>
                </div>
            </div>


        </div>


        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item ">Cena Brutto : {{ offer.price }}</li>
                <li class="list-group-item">Data utworzenia : {{ offer.publishedAt|date('Y-m-d') }}</li>
                <li class="list-group-item">Aktualne do : {{ offer.toDate|date('Y-m-d') }}</li>
                <li class="list-group-item"> {{ offer.content  | raw }} </li>
            </ul>


        </div>
        <div class="panel-footer">


            <i class="fa fa-envelope">   {{ offer.authorEmail }}</i>


        </div>
        <div class="form-group">
            <div class="input-group">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit , {'attr': {'class': 'btn btn-primary', 'placeholder':'Email'}}) }}
                {{ form_end(delete_form) }}
                <a class="btn btn-lg btn-block btn-success" href="{{ path('panel_offer_edit', { id: offer.id }) }}">
                    <i class="fa fa-edit"></i> Edytuj
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <p>DOdaj sidebar</p>

{% endblock %}
