{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <div class="well">
                <form action="{{ path('security_login_check') }}" method="post">
                    <fieldset>
                        <legend> <h3 class="text-center"> Login </h3></legend>
                        <div class="form-group">

                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i> </span>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i> </span>
                            <input type="password" id="password" name="_password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><input type="checkbox" id="remember_me" name="_remember_me" checked /></i> </span>
                            <label for="remember_me">Remember me</label>

                            </div>

                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary ">
                         <i class=" fa fa-sign-in">  Login</i>
                        </button>
                        <a class="btn btn-primary" href="{{ path('register_form') }}" >Register</a>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>



    </div>
{% endblock %}
{% block sidebar %}


{% endblock %}

