{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}


    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <div class="well">

                <h3 class="text-center">Registration Form</h3>
                {{ form_start(form , {'attr' : { 'class' : 'form-horizontal'}}) }}

                {{ form_errors(form) }}
                <legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Username</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i> </span>
                                {{ form_widget(form.username , {'attr': {'class': 'form-control', 'placeholder':'User Name'}}) }}
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i> </span>
                                {{ form_widget(form.email , {'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt"></i> </span>
                                {{ form_widget(form.password.pass , {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt"></i> </span>
                                {{ form_widget(form.password.confirm, {'attr': {'class': 'form-control', 'placeholder':'Repeat Password'}}) }}
                            </div>
                        </div>
                    </div>


                </legend>
                <button type="submit" class="btn btn-primary ">
                    <i class=" fa fa-sign-in">  Register</i>
                </button>

            </div>
            <div class="col-sm-4"></div>
        </div>


    </div>


{% endblock %}