{% for entity in entities %}
    <li>
        {{ entity.getName() }}
    {% if entity.children %}
        <ul>
            {% include "offers/category-tree.html.twig" with {'entities' : entity.children}  %}
        </ul>
        {% endif %}
    </li>
{% endfor %}