{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User edit</h1>
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-info" role="button"  href="{{ path('panel_user') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
