{% extends 'admin/layout.html.twig' %}

{% block body_id 'panel_offer_index' %}



{% block main %}

    {{ include('admin/navbar.html.twig') }}
    <h1>User list</h1>


<div class="table-responsive ">
        <table class="table">

            <tr class="bg-primary">
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            {% for entity in entities %}

                <tr {% if loop.index is odd %}class="odd" {% else %}class="even" {% endif %}>
                    <td >{{ entity.username }} </td>
                    <td >{{ entity.email }}</td>
                    <td >{{ entity.roles |join('|')}}</td>
                    <td>
                        <div class="item-actions">
                            <ul class="list-inline">
                                <li><a href="{{ path('panel_user_show', { id: entity.id}) }}"
                                       class="btn btn-sm btn-info">
                                        Show
                                    </a></li>
                                <li><a href="{{ path('panel_user_message', { id: entity.id }) }}"
                                       class="btn btn-sm btn-warning">
                                        <i class="fa "></i>Msg
                                    </a></li>
                                <li><a href="{{ path('panel_user_edit', { id: entity.id }) }}"
                                       class="btn btn-sm btn-primary">
                                        <i class="fa "></i>Edit
                                    </a></li>
                                <li><a href="{{ path('panel_user_delete', { id: entity.id }) }}"
                                       class="btn btn-sm btn-danger">
                                        <i class="fa "></i>Del
                                    </a>

                            </ul>

                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" align="center">brak postów</td>
                </tr>
            {% endfor %}

        </table>
    </div>


    {% endblock %}
{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('register_form') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa">Dodaj usera</i>
        </a>
    </div>

    <div class="section actions">
        <a href="{{ path('panel_messages') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa">Wyślij spam</i>
        </a>
    </div>
{% endblock %}