{% extends 'admin/layout.html.twig' %}

{% block body_id 'panel_offer_index' %}



{% block main %}

    {{ include('admin/navbar.html.twig') }}


   {% if user != null %} <h3>Message to {{ user.username }}</h3>
      {% endif  %}
   {{ form_start(form_comment) }}
    {{ form_end(form_comment) }}
{% endblock %}